<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title >SOCIAL LOGIN</title>
</head>


<body>

<div>
  <!-- kakao button -->
  <h1>로그인!</h1>
  <div class="text-center">
    <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=dbb607f998131f7a3f97d9a8edd6e93d&redirect_uri=http://localhost:3000/login/oauth2/code/kakao">
      카카오 로그인
    </a>
  </div>
</div>

</body>
</html>